* {
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Amatic SC", cursive;
}

/*Encabezado*/
header {
  margin: 0 auto;
  width: 100%;
}
.title {
  width: 65%;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  top: 25px;
}
h1 {
  font-weight: 700;
  font-style: normal;
}
h2 {
  font-size: 50px;
  font-weight: bolder;
  text-decoration: solid;
  margin-bottom: 15px;
}
.name {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 70px;
}

/*Botones*/
.button {
  margin: 0 auto;
  width: 25%;
}
button {
  margin: 20px auto;
  width: 100%;
  height: 70px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  color: white;
  cursor: pointer;
}
#c4 {
  background-color: rgb(254, 229, 198);
}
#c5 {
  background-color: rgb(244, 201, 237);
}
#c6 {
  background-color: rgb(187, 235, 177);
}

/*Lineas*/
.hr1 {
  border: 2px solid;
}
hr {
  width: 50%;
  margin: 0 auto;
  border: 1px solid rgb(180, 180, 180);
}
